*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --162542: #162542;
  --7B8BAD: #7b8bad;
  --F16718: #f16718;
  --E8EFF2: #e8eff2;
  --FF9B62: #ff9b62;
  --FFFFFF: #ffffff;
}

body {
  font-family: Barlow;
  font-size: 62.5%;
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 23.4375rem;
  /* border: 0.0625rem solid black; */
  padding: 1.5rem 1.5rem 3.125rem 1.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.main-header__img {
  width: 2.5rem;
  height: 2.5rem;
}

.button {
  width: 9.375rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;
}

.main-header__button {
  background-color: var(--E8EFF2);
  color: var(--162542);
}

.main-header__button:hover {
  background-color: var(--162542);
  color: var(--FFFFFF);
  cursor: pointer;
}

.main-article-container {
  margin-bottom: 2rem;
}

.main-article__heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  color: var(--162542);
  margin-bottom: 2rem;
}

.main-article__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--7B8BAD);
}

.btn-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inside-container-1 {
  margin-bottom: 3.75rem;
}

.btn-image-container {
}

.main-article-btn {
  background-color: var(--F16718);
  color: var(--FFFFFF);
}

.main-article-btn:hover {
  background-color: var(--FF9B62);
  cursor: pointer;
}

.release-date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: var(--7B8BAD);
}

.image-container-1 {
  margin-bottom: 1.25rem;
}

.main-img-mobile {
  width: 21.875rem;
  border-radius: 1.25rem 0 0 1.25rem;
}

.main-img-tablet,
.main-img-desktop,
.main-pattern {
  display: none;
}

.img-container-2 {
  margin-left: -1.5rem;
  overflow: hidden;
  margin-bottom: 4.375rem;
  display: flex;
  border-radius: 1.25rem;
}

.main-pattern,
.img-1-tablet,
.img-1-desktop,
.img-2-tablet,
.img-2-desktop {
  display: none;
}

.mix-blend {
  background-color: var(--F16718);
  border-radius: 0 1.25rem 1.25rem 0;
  margin-right: 1.5625rem;
}

.img-1-mobile {
  width: 7.9375rem;
  margin-left: -1.375rem;
  border-radius: 0 1.25rem 1.25rem 0;
  mix-blend-mode: multiply;
}

.img-2-mobile {
  width: 13.5625rem;
  border-radius: 1.25rem;
}

.second-article-container {
  margin-bottom: 6.9375rem;
}

.second-article__heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--162542);
  margin: 0 1.125rem 1.5rem 1.125rem;
}

.second-article__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  color: var(--7B8BAD);
}

.card-container {
  margin-bottom: 6rem;
}

.article-card {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 1rem;
  background-color: var(--F16718);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.card-heading {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--162542);
  margin-bottom: 1.5rem;
}

.card-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  color: var(--7B8BAD);
}

.footer-text {
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--7B8BAD);
  text-align: center;
}

.footer-text span {
  font-weight: 700;
}

@media only screen and (min-width: 48rem) {
  .main-container {
    max-width: 48rem;
    /* border: 0.0625rem solid black; */
    padding: 3.0625rem 2.5rem 2.6875rem 2.5rem;
    overflow: hidden;
  }

  .main-img-mobile,
  .main-img-desktop,
  .main-pattern {
    display: none;
  }

  .main-img-tablet {
    display: block;
    height: 22.8125rem;
    border-radius: 1.25rem 0 0 1.25rem;
  }

  .content-container-1 {
    display: flex;
  }

  .inside-container-1 {
    display: flex;
    flex-direction: column;
    width: 43.75rem;
    height: 22.8125rem;
    margin-bottom: 3.125rem;
    justify-content: center;
  }

  .button {
    width: 10.9375rem;
    height: 3.625rem;
    font-size: 1rem;
  }

  .image-container-1 {
    margin-left: 6.25rem;
  }

  .btn-image-container {
    min-width: 21.1875rem;
  }

  .main-pattern,
  .img-1-mobile,
  .img-1-desktop,
  .img-2-mobile,
  .img-2-desktop {
    display: none;
  }

  .img-1-tablet,
  .img-2-tablet {
    display: block;
    height: 20.625rem;
    border-radius: 1.25rem;
  }

  .img-1-tablet {
    mix-blend-mode: multiply;
  }

  .mix-blend {
    border-radius: 1.25rem;
    margin-right: 1.875rem;
  }

  .second-article-container {
    margin-bottom: 8.875rem;
    display: flex;
    align-items: center;
  }

  .second-article__heading {
    text-align: left;
    margin: 0;
    margin-right: 2.25rem;
  }

  .second-article__text {
    text-align: left;
  }

  .card-container {
    margin-bottom: 8.875rem;
    display: flex;
    flex-wrap: wrap;
  }

  .article-card {
    width: 17.5625rem;
    margin-right: 1.875rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-heading {
    text-align: left;
  }

  .card-text {
    text-align: left;
  }
}

@media only screen and (min-width: 68.75rem) {
  .main-container {
    max-width: 90rem;
    padding: 4rem 10.3125rem 2.4375rem 10.3125rem;
    overflow: hidden;
  }

  .main-article-container {
    margin-right: 6.25rem;
    width: 25rem;
  }

  .main-article__heading {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .main-img-mobile,
  .main-img-tablet {
    display: none;
  }

  .main-img-desktop,
  .main-pattern {
    display: block;
    border-radius: 1.25rem;
  }

  .main-img-desktop {
    height: 25rem;
    margin-right: 1.25rem;
  }

  .content-container-1 {
  }

  .image-container-1 {
    display: flex;
    align-items: start;
  }

  .inside-container-2 {
    display: flex;
    margin-bottom: 6.25rem;
  }

  .img-1-mobile,
  .img-1-tablet,
  .img-2-mobile,
  .img-2-tablet {
    display: none;
  }

  .img-1-desktop,
  .img-2-desktop {
    display: block;
    height: 25rem;
    border-radius: 1.25rem;
  }

  .img-1-desktop {
    mix-blend-mode: multiply;
  }

  .img-container-2 {
    align-items: end;
    margin-left: -17.5rem;
  }

  .second-article-container {
    margin-bottom: 8.875rem;
    display: flex;
    flex-direction: column;
    width: 15rem;
    align-items: start;
    margin-left: 9.375rem;
    margin-top: 4.375rem;
  }

  .card-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .card-container article:last-child {
    margin-right: 0rem;
  }
}
